<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache-3.0.xsd
        http://www.springframework.org/schema/jee
     	http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
        ">
        
    <!-- 配置注解驱动的Spring MVC Controller 的编程模型 -->
    <mvc:annotation-driven />
    <!-- 激活spring的注解. -->  
	<!-- <context:annotation-config />  -->
    
	<!-- 扫描注解组件并且自动的注入spring beans中.   
		例如,他会扫描@Controller 和@Service下的文件.所以确保此base-package设置正确.
 	-->
	<context:component-scan base-package="com.effecia" />
	
	<!-- 注册注解装配器 -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
 	<aop:aspectj-autoproxy proxy-target-class="true"/> 
 	<bean id="entityManagerFactory"  
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">  
        <property name="persistenceUnitName" value="lotteryweb"/>
        <property name="dataSource" ref="myDataSource" />
        <property name="jpaVendorAdapter">  
            <bean  
                class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">  
                <property name="database" value="MYSQL" />  
                <property name="showSql" value="false" />  
                <property name="generateDdl" value="false" />  
            </bean>  
        </property>
    </bean>
   <!--  <jee:jndi-lookup id="entityManagerFactory" jndi-name="java:jboss/lotteryEntityManagerFactory" />  -->
    <bean id="transactionManager"  
        class="org.springframework.orm.jpa.JpaTransactionManager">  
        <property name="entityManagerFactory" ref="entityManagerFactory" />  
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" /> 

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:conf/system.properties</value>
				<!-- <value>classpath*:conf/quartz.properties</value>
				<value>classpath*:conf/db.properties</value>
				<value>classpath*:conf/dba.properties</value> -->
			</list>
		</property>
	</bean>
	
	<!-- I18N -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource ">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="basenames">
			<list>
				<value>/WEB-INF/i18n/messages</value>
				<value>/WEB-INF/i18n/errors</value>
				<value>/WEB-INF/i18n/common</value>
				<value>/WEB-INF/i18n/gaming/messages</value>
				<!-- Spring Security 内部的资源文件 ,在 spring-security-core-3.1.3.RELEASE.jar 里面-->
				<value>classpath*:org/springframework/security/messages</value>
				<!-- 加*号遍历所有 classpath -->
			</list>
		</property>
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh_CN" />
		<!-- <property name="defaultLocale" value="${system.default.locale}" /> -->
	</bean>
	
	<!-- <bean id="gameServerCommandParser" class="com.effecia.lotteryweb.GameServerCommandParser"/> -->
	
	<!-- <bean id="playerRecordDao" class="com.effecia.lotteryweb.dao.PlayerRecordDao"/>
	<bean id="betRecordDao" class="com.effecia.lotteryweb.dao.BetRecordDao"/>
	<bean id="betOrderDao" class="com.effecia.lotteryweb.dao.BetOrderDao"/>
	<bean id="gameLogDao" class="com.effecia.lotteryweb.dao.GameLogDao"/>
	<bean id="loginInfoDao" class="com.effecia.lotteryweb.dao.LoginInfoDao"/> -->
	<!-- <bean id="appUserInfoDao" class="com.effecia.lotteryweb.dao.AppUserInfoDao"/> -->
	
<!-- 	<bean id="gameServerCommandParser" class="com.effecia.lotteryweb.GameServerCommandParser">
		<property name="playerRecordDao" ref="playerRecordDao"/>
		<property name="betRecordDao" ref="betRecordDao"/>
		<property name="betOrderDao" ref="betOrderDao"/>
		<property name="gameLogDao" ref="gameLogDao"/>
	</bean> -->
	
	<!-- <bean id="gameServerMinaHandler" class="com.effecia.lotteryweb.GameServerMinaHandler">
		<property name="gameServerCommandParser" ref="gameServerCommandParser"></property>
	</bean>
	
	<bean id="gameServerChecker" class="com.effecia.lotteryweb.GameServerChecker">
		<property name="gameServerMinaHandler" ref="gameServerMinaHandler"></property>
	</bean> -->

 	<mvc:interceptors>
		<!-- <bean class="com.effecia.iasia.spring.interceptor.AuthenticInterceptor" /> -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>
	
	
	<!-- 启用缓存注解功能 -->
	<import resource="igwf_demo.xml"/>

</beans>  